:root {
  --heading-font: 'Roboto', sans-serif;
  --body-font: 'Arvo', sans-serif;
}


:root {
  --primary-color :  #080708;
  --secondary-color : #ffbe0b;
  --accent1-color : #fb5607;
  --accent2-color : white;
  --accent3-color : #670909;
  --accent4-color:  #112A46;
  --heading-font : "Roboto";
  

}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {font-family: Roboto, sans-serif;

}

/* mobile **************************/
header {
	background-color:var(--secondary-color);
	display: grid;
	grid-gap: 0rem;
	padding: 20px;
	border: 1px solid #ffbe0b;
	box-shadow: 0 0 30px var(--accent4-color);
	height: 80px;
	position: relative;
	margin-left: 0px;
	
;
}

main {

	padding-left: 0px;

	}

h2 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 5rem;
	
}

#mena{
	margin-top: 100px;
	color: var(--accent4-color);
}

#menu {
	
	font-size: 1.5rem;
	border: 0;
	background: none;
	color:var(--accent4-color);
	position: absolute;
	display: block;
	top: 1rem;
	right: 1rem;
	
	
}

#menu::before {
	content:"☰" ;
}

#menu.open::before {
	content: "❌";
	
	
}

.close{
	margin-top: 0rem;
}



/* Par défaut (avec JS activé), cacher le menu */
.js-enabled .navmenu ul {
  display: none;
}

/* Afficher le menu quand le bouton est en mode ouvert */
.js-enabled .navmenu.open ul {
  display: flex;
  flex-direction: column;
}


 nav ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	background-color: #3a86ff;
	margin-left: 10px;
	margin-top: 20px;
	font-weight: bolder;
	font-size: larger;
	height: 600px;
	border-radius: 8px;
}

nav a {
	display: block;
	color:white;
	font-weight: bolder;
	text-align: center;
	padding: 2rem;
	text-decoration: none;
	font-size: larger;
	height: 80px;
	margin-top: 30px;
	
}

nav a:hover {
	color: var(--accent2-color);
	height: 80px;
	width: auto;
	color: var(--secondary-color);
	
	
	
}

.active {
	color:yellow ;
}


main {
  max-width: 767px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
	justify-content: center;
}

img{
	width: 400px;
	height: 250px;
}

.temple-card {
	  margin-left: 0rem;
    border: 1px solid #ccc;
    padding: 0rem;
    width: 400px;
		height: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
		align-items: center;
		text-align: center;
	  transition: transform 0.3s ease, box-shadow 0.3s ease;
		
  }

	.temple-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

  .temple-image {
		margin-top: 2rem;
    width: 100%;
    
  }




footer{
  position:sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 70px;
  height: 80px;
  color:var(--accent3-color);
  background-color: var(--secondary-color);
  font-family: var(--heading-font) ;
	font-weight: bolder;
}

#footerp1{
 padding-bottom: 15px;
 
}
#lastModified{
  position: absolute;
  padding-top: 25px;
  color: var(--accent4-color);
  
}

