
:root {
  --primary-color :  #4B0082;
  --secondary-color : #FFFFFF;
  --accent1-color : #000000;
  --accent2-color : #D3C8C8;
  --accent3-color : #0FE6DB;
--heading-font: 'Roboto', sans-serif;
--body-font: 'Arvo', sans-serif;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {font-family: Roboto, sans-serif;}


/* mobile **************************/
header {
	background-color:var(--primary-color);
	display: grid;
	grid-gap: 0rem;
	padding: 20px;
	border: 1px solid var(--secondary-color);
	box-shadow: 0 0 30px var(--accent2-color);
	height: 90px;
	position: relative;
	margin-left: 0px;
  font-family: var(--heading-font);

	
;
}

main {
max-width: 767px;
margin: 0 auto;
font-family: var(--body-font);
}


.navmenu{
  margin-top: 10px;
}


.navmenu ul{
  list-style: none;
}

.active{
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}

.container{
  padding-top: 1rem;
 
  
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding-left: 1.5rem;
  padding-top: 1rem;
  height: 775px;
 
  text-align: left;
  background-color: var(--accent2-color);
}

fieldset{
  border: none;
}

legend{
  font-weight: bold;
}
.select-container{
  margin-top: 5px;
  
}

.select-container select{
  width: 95%;
  height: 30px;
}
#legend2{
  margin-top: 20px;
}
.radio-container{
  margin-top: 8px;
  display: flex;
  width:  95%;
  gap:30px;
}

.radio-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.radio-items input{
  margin-top: 5px;
  transform: scale(1.6);
}

.fieldsetDate input{
  width: 95%;
  height: 30px;
}

textarea{
   width: 95%;
   font-size: 15px;
}
.fieldsetLast input{
  width: 95%;
  height: 30px;
  font-size:18px;
}

.useful-container input{
  margin-top:10px;
  transform: scale(1.5);
}

.fieldsetLast input:valid{
  background-color: var(--secondary-color);
}

.fieldsetLast input:invalid{
  background-color: red;
}

#optional1,#optional2{
  color:blue;
}

p{
  font-style: italic;
}

button{
  width: 95%;
  height: 50px;
}

footer{
  position:sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  height: 60px;
  color:var(--secondary-color);
  background-color: var(--primary-color);
  font-family: var(--heading-font) ;
	font-weight: bolder;
}

#footerp1{
 padding-bottom: 15px;
 
}
#lastModified{
  position: absolute;
  padding-top: 25px;
  color: var(--accent4-color);
  
}

/* Larger Views ******************************/
@media (min-width: 768px) {

	
.select-container select{
  width: 95%;
  height: 30px;
}
#legend2{
  margin-top: 20px;
}
.radio-container{
  margin-top: 0px;
  display: flex;
  width:  95%;
  gap:7.8rem;
}
	}